
<div class="container">
  <header>This is my lovely blog</header>
  <article>
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card> 
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card>  
    <app-article-card></app-article-card> 
  </article>
  <aside>
    <h2>Icon</h2>
    <p>#github</p>
    <p>#java</p>
    <p>#javaScript</p>
    <p>#python</p>
    <p>#web</p>
  </aside>
  <footer>Contact me@mysite.com</footer>
</div>
                        