<div class="tags">
    <div class="tag">java</div>
    <div class="tag">javaScridivt</div>
    <div class="tag">CI&CD</div>
    <div class="tag">github</div>
    <div class="tag">ssh</div>
    <div class="tag">shell</div>
    <div class="tag">docker</div>
    <div class="tag">web</div>
    <div class="tag">angular</div>
    <div class="tag">vue</div>
    <div class="tag">something</div>
    <div class="tag">something</div>
    <div class="tag">something</div>
    <div class="tag">something</div>
</div>